name: Build & Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  packages:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8.6.11

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build
        env:
          NODE_ENV: production
          NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY: ci

      - name: Lint
        run: pnpm run lint

  examples:
    name: Build & Lint Examples
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: [examples/storefront]
    defaults:
      run:
        working-directory: ${{ matrix.directory }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build
        env:
          NODE_ENV: production
          NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY: ci

      - name: Lint
        run: yarn lint
